body{
  margin:0px;
  padding: 0px;
  height: 600px;
}


nav{
  background-color: MediumSeaGreen;

}

.navbar ul li{
  margin-right: 40px;
}

h2{
  margin-left: 750px;
  margin-top:15px;
  color :#33A5FF;
}

h1{
  color :#33A5FF;
  margin-left: -10px;
}

.row img{
  margin-left: 50px;
  margin-top: 8px;
}

.footer{
  background-color: MediumSeaGreen;
  margin-top: 580px;
}

.footer img{
  margin-top: 20px;
}
 .footer p{
   margin-top: -20px;
 }
